#box{
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: widthAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    animation: colAnimation 8s ease-in 0s infinite alternate;

}

@keyframes colAnimation {
    0%{ 
        background-color: green;
    }
    35% {
        background-color: red;
    }
    70% {
        background-color: yellow;
    }
    100% {
        background-color: black;
    }
    
}

@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
}

@keyframes colorAnimation {
    from{
        background-color: green;
    } to {
        background-color: red;
    }
    
}

@keyframes widthAnimation {
    from{
        width: 80px;
    } to {
        width: 400px;
    }
    
}