* {
    font-family:"Courier New";  /*Universal Selector */
}
h1,h3{
    color: #b92b27;  /*Element Selector */
}

/*Id Selector */

#login{     
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}

/*Class Selector */

.upvote{
    background-color: green;
    color: aliceblue;
}

#myid p {
    color: green;
}

/* Descentent Selector */

p a{
    color: purple;
    background-color: yellow;
}

nav li {
    color: hotpink;
}

/* Sibling Combinator */

p + h3 {
    text-decoration: underline;
}

.upvote + button{
    background-color: rgb(103, 17, 50);
    color: rgb(255, 255, 255);
}

/* Child Combinator */

div > input{
    background-color: darkgray;
}

/* Attribute Selewctor */
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: green;
}
input[type]{
    background-color: ghostwhite;
}
/* Pseudo class */
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: overline;
}
button:active{
    background-color: red;
    color: black;
}
p:active{
    color: green;
}
input[type="radio"]:checked + label{
    color: #b92b27;
    font-weight: bold;
}
div:nth-of-type(2n){
    background-color: blanchedalmond;
}
/* Pseudo Elements */
h1::first-letter{
    color: green;
}